/* ----- GENERAL STYLE RULES ----- */

form {
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 440px;

    background-color: var(--bg3);
    color: var(--fg2);
    border-radius: 5px;
}

.label-input-container {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

legend {
    padding: 40px 20px 20px 20px;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

input,
select,
textarea {
    padding: 10px;

    width: 100%;
    font-size: 1rem;
}

label {
    padding: 10px 0px;

    width: 100%;

    font-size: 1.1rem;
    font-weight: bold;
}

input,
select,
textarea {
    margin-bottom: 10px;

    background-color: var(--bg4);
    border: none;
    border-radius: 5px;
}

textarea {
    min-height: 100px;
}

.form-button-container {
    margin-top: 10px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: baseline;

    width: 100%;

    background-color: var(--bg4);
    border: 2px solid transparent;
    border-radius: 0 0 5px 5px;
}

.form-button-container a {
    padding: 5px 20px;

    font-weight: bold;
    text-decoration: none;
    color: var(--fg2);
}

.form-button-container a:hover {
    color: #191919;
}

.error-message {
    padding: 0px 20px;
    display: block;
    width: 100%;
    color: var(--red);
}

.small-form {
    width: 350px;
}

.big-form input,
.big-form select,
.big-form textarea {
    margin-bottom: 20px;
}

.big-form .form-button-container {
    padding: 20px 10px !important;
}
