#toggle-button-container {
    margin: 10px;

    max-width: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule-button {
    background-color: var(--bg5);
}

.schedule-button:hover {
    background-color: #102338;
}

#schedule-container {
    margin: 10px;

    max-width: 700px;

    contain: content;
    background-color: var(--fg1);
    border-radius: 5px;
}

#schedule-header {
    padding: 10px 20px;

    max-width: 700px;

    background-color: var(--bg2);
}

#todays-schedule-list {
    margin: 25px 20px;
}

.lesson-description {
    margin: 10px 0;

    background-color: #eee;
    border-radius: 5px;

    transition: 1s;
}

.lesson-description li {
    list-style: none;
}

@media(min-width: 720px) {

    #toggle-button-container,
    #schedule-header {
        margin: auto;
    }

    #schedule-container {
        margin: 10px auto;
    }
}