.table-container {
    margin: 50px 0;
}

.table-container span {
    margin: auto;

    display: block;

    text-align: center;
}

table {
    margin: 10px auto;

    border-collapse: collapse;

    min-width: 300px;
    max-width: 400px;

    color: var(--fg1);
}

thead {
    display: none;
}

td {
    padding: 10px;

    display: flex;
    flex-direction: row;

    border-right: 1px solid var(--fg1);
    border-left: 1px solid var(--fg1);
    border-bottom: 3px dotted var(--fg1);

}

table td:first-child {
    border-top: 1px solid var(--fg1);
}

table td:last-child {
    margin-bottom: 10px;

    border-bottom: 1px solid var(--fg1);
}



table td::before {
    content: attr(header_id);

    width: 30%;
    min-width: 100px;

    font-weight: bold;
}

.table-button {
    text-align: right;
    font-weight: bold;
    transition: .5s;
}

.table-button:hover {
    color: var(--red);
    cursor: pointer;
}

@media(min-width: 800px) {

    table {
        margin: 10px 50px;
        min-width: none;
        max-width: 1000px;
        width: 100%;
    }

    table thead {
        display: table-header-group;
    }

    table th {
        padding: 15px 5px;

        font-size: 1.1rem;
        text-align: left;
    }

    table tbody tr {
        border-top: 3px solid var(--fg3);
    }

    table td,
    table td:first-child,
    table td:last-child {
        border: none;
    }

    table td {
        padding: 10px;

        display: table-cell;

        font-size: .9rem;
    }

    table td::before {
        display: none;
    }
}

@media(min-width: 1100px) {

   table {
    margin: 10px auto;
   }
}